.hinput44{
    height:90%;
    width:90%;
    border: 2px solid black;
}
.vinput44{
    height:100%;
    width:100%;
    border: 2px solid black;
}

.tinput44{
    width:100%;
    height:50px;
    border: 2px solid black;

}

.color44{
    background-color:rgba(125, 185, 225, 1);
    ;
}
