.pdclr{
    background-color: rgba(125, 185, 225, 0.35);
}

.btn-adj{
    height:80%;
    width:80%
}

.pwclr{
    background-color: rgba(0, 69, 116, 1);
}

.hw-adj2{
    height: 60%;
    width:80%;
}

.dbclr{
    background-color: #7DB9E1;
}

.hxp100{
    height:100%;
}